<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
   
  </style>
</head>
<body>
  
  <form action="" method="post" enctype="multipart/form-data">
    <br> 
    result <input class='outtext' size='150' type="text" value="{{labels}}" readonly>
   
    <br>
    Select image to upload:
    <input type="file" name="fileToUpload" id="fileToUpload"> </br>
	
	link <input type="text" name="linkToUpload" id="linkToUpload"></br>
	
    <input type="submit" value="Upload Image" name="submit">
  </form>
  
  <img src="{{src}}">
 
</body>
</html>
